.hud {
  position: absolute;
  left: 2px;
  top: 10px;
  image-rendering: pixelated;
}

.hud .combatant {
  position: relative;
  margin-bottom: 10px;
  transform-origin: top left;
  transform: scale(1);
}

/* .hud .combatant-type {
  display: none;
} */